@font-face {
    font-family: 'fangsongregular';
    src: url('../fonts/simfang-webfont.eot');
    src: url('../fonts/simfang-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/simfang-webfont.woff2') format('woff2'),
         url('../fonts/simfang-webfont.woff') format('woff'),
         url('../fonts/simfang-webfont.ttf') format('truetype'),
         url('../fonts/simfang-webfont.svg#fangsongregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'fangsongregular';
}

#flag-select img {
	max-height: 300px;
}

#container {
	width: 99%;
}

nav {
	position: absolute;
	left: 200px;
	top: 100px;
	font-size: 150%;
}

nav a:link {
	color: #000;
	text-decoration: none;
}

nav a:visited {
	color: #000;
	text-decoration: none;
}

.break { 
    display: block;
	clear: both;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #000000), color-stop(1, #FFFFFF));
	background: -moz-radial-gradient(center, circle farthest-corner, #000000 0%, #FFFFFF 100%);
	background: -ms-radial-gradient(center, circle farthest-corner, #000000 0%, #FFFFFF 100%);
}

header img {
	max-height: 300px;
}

#logo {
	width: 75%;
	height: 75%;
}

button {
	background-color: #FFF;
	border-radius: 45px;
	border: none;
	font-size: 200%;
	font-family: 'fangsongregular';
	margin: 0px 50px;
}

button.active, button:hover {
	background-color: #E6E6E6;
}

.slide-selector {
	text-align: center;
	float: left;
	width: 300px;
	position: absolute;
	z-index: 100;
}

.slide-selector img {
	width: 150px;
}

.slide-viewer {
	position: relative;
	overflow: hidden;
	height: 500px;
}

.slide-group {
	width: 100%;
	height: 100%;
	position: relative;
	float: right;
}

.slide {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}

.slide img {
	max-width: 50%;
}

.slide:first-child {
	display: block;
}

.hide {
	display: none;
}

footer {
	text-align: right;
}

footer p {
	display: inline;
	font-size: 125%;
}

footer img {
	max-height: 35px;
}

.modal {
	position: absolute;
	z-index: 1000;
	background-color: #FFF;
	outline: 9999px solid rgba(0,0,0,0.5);
}

#about {
	font-size: 110%;
}

#about img {
	max-height: 600px;
}

#about-button {
	cursor: pointer;
}

@media screen and (max-width: 1500px) {
	.slide-viewer {
		left: 150px;
		height: 500px;
	}
	
	.slide img {
		max-width: 700px;
	}
}